* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.body {
    max-width: 1920px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    height: 160px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-navigation {
    display: none;
}

.logo-container {
    max-width: 375px;
    position: absolute;
    left: 5px;
    display: flex;
    align-items: center;
}

/*.logo-image {
    margin: 0 182px 0 123px;
}*/

.navigation-container {
    left: 0;
    width: 60%;
    max-width: 1170px;
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: static;
}

.navigation-left {
    width: 50%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    color: #314584;
    font-weight: 600;
    font-size: 18px;
}

.navigation-left > div {
    cursor: pointer;
}

.navigation-right {
    width: 25%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language-selection-btn {
    color: #314584;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.contact-us-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-color: white;
    color: #ff3946;
    font-weight: 600;
    font-size: 18px;
    border: 0;
    border-radius: 6px;
    box-shadow: 0 8px 14px -4px rgba(25,45,51,0.15);
    cursor: pointer;
}

.contact-us-btn-text {
    margin-right: 15px;
}

.main {
    max-width: 1170px;
    height: 550px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.title-image {
    display: none;
}


