* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    width: 100%;
}

.header {
    height: 200px;
    display: flex;
    align-items: center;
}

.logo-container {

}


