* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.body {
    width: 100%;
    max-width: 1920px;
}

.header {
    flex-flow: row;
}

.logo-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50px;
    margin: 0;
}

.navigation-container {
    left: 0;
    max-width: 1170px;
}

.navigation-left {
    width: 50%;
    font-size: 18px;
}

.navigation-left > div {
    cursor: pointer;
}

.navigation-right {
    width: 25%;

}

.language-selection-btn {
    font-size: 18px;
}

.contact-us-btn {
    width: 200px;
    height: 60px;
    font-size: 18px;
}

.contact-us-btn-text {
    margin-right: 15px;
}

.item {
    max-width: 1170px;
}

#slide {
    display: block;
}

.title-content {
    max-width: 553px;
}

.title-image {
    max-width: 680px;
    transform: translateX(100px);
}

.button-container {
    width: 357px;
}

.portfolio-section {
    max-width: 1170px;
}

.portfolio-title {
    max-width: 395px;
}

.contact-us-section {
    max-width: 1170px;
}



